#content-container {
  height: 100%;
  width: 100%;
  background-color: #d2d2d2;
  display: flex;
  justify-content: center;
}

#wysiwyg {
  height: 100%;
  width: 60%;
  background-color: #fefefe;
  outline: none;
  padding: 1rem;
  /**all: unset;**/
}

#wysiwyg > p {
  margin: 0;
  height: fit-content;
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}


#root {
  height: 100%;
  width: 100%;
}





